body{
    padding: 0;
    margin: 0;
    font-family: arial;
    background-color: #F0A0A0;
}

/*Banner at the top*/

.header {
    background-color: lightblue;
    display: flex;
    margin-bottom: 20px;
}

.header > a > img {
    height: 100px;
}

.title {
    margin: auto;
    font-size: 36px;
    font-weight: bold;
}

/*Middle Body*/

.center {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10em;
}

/*Left Side Content*/

.leftcolumn {
    width: auto;
}

/*Recipe Picture*/

.picture > img{
    display: block;
    border: none;
    border-radius: 2%;
    height: 21em;
    margin:auto;
    margin-bottom: 3em;
}

/*Ingredient List*/

.ingredienttop {
    text-align: center;
    text-decoration: underline;
    border-top: solid;
    border-left: solid;
    border-right: solid;
    border-color: #909090;
    padding-bottom: 1px;
    border-width: 2px;
}

.ingredientlist {
    text-align: center;
    border: 2px solid #909090;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.ingredientlist > h2 {
    text-decoration: underline;
}

.ingredient {
    display: block;
    cursor: pointer;
    user-select: none;
}

.ingredient:hover {
    background-color: #E0E0E0;
}

.ingredient > input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.ingredient input:checked ~ .selected {
    display: block;
    text-decoration: line-through;
    background-color: #909090;
}

/*Nutrition*/

.nutrition {
    display: inline-block;
    position: relative;
}

.nutritioncont {
    display: block;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: all 0.5s ease;
}

.nutrition:hover .nutritioncont {
    height: 200px;
    opacity: 1;
}

.nutritioncont > table {
    border-collapse: collapse;
    border: 1px solid;
}

.nutcontbot {
    border-bottom: 1px solid;
    padding-right: 3em;
    font-weight: bold;
}

.nutcontright {
    border-bottom: 1px solid;
    text-align: right;
}

/*Right Side Content*/

.rightcolumn {
    width: 60%;
}

/*Steps*/

.steptop {
    text-align: center;
    text-decoration: underline;
    border-top: solid;
    border-left: solid;
    border-right: solid;
    border-color: #909090;
    padding-bottom: 1px;
    border-width: 2px;
}

.steplist {
    border: 2px solid #909090;
    padding: 2em;
    line-height: 2;
}

.stephead {
    list-style-type: upper-roman;
}

.stephead > li {
    text-decoration: underline;
    font-weight: bold;
    font-size: 21px;
}

/*Relevant Pictures*/

.footer {
    justify-content: space-between;
    display: flex;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 3em;
}

.footer > div {
    display: inline-flex;
    border: 2px solid;
    border-color: #909090;
}

.footer > div > img {
    height: 200px;
    transition: transform 0.2s;
}

.footer > div > img:hover {
    transform: scale(1.5);
}